.avenue__address a,
  .cloisters__address a {
    margin-bottom: 8px;
    color: inherit;
    text-decoration: none;
    transition: color 0.3s ease;

    &:hover {
      color: #b42a2a;
    }
  }

.contacts {
  display: flex;
  flex-direction: column;
  margin-bottom: 4px;


  &__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 40px;
    align-items: start;



    @media (max-width: 1024px) {
      grid-template-columns: 1fr 1fr;
      row-gap: 48px;
    }

    @media (max-width: 767px) {
      grid-template-columns: 1fr;
      row-gap: 48px;
    }
  }


  .avenue__block,
  .cloisters__block,
  .breuer__block {
    display: flex;
    flex-direction: column;
    max-width: 100%;

    @media (max-width: 1024px) {
      grid-column: 1 / 2;

    }
  }

  .avenue__title,
  .cloisters__title,
  .breuer__title {
    margin-bottom: 16px;
    font-weight: bold;
    word-wrap: break-word;
    white-space: normal;
  }

  .avenue__gray,
  .cloisters__gray,
  .breuer__gray {
    color: gray;
  }

  .avenue__content,
  .cloisters__content,
  .breuer__content {
    display: flex;
    flex-direction: column;
    gap: 8px;

    @media (max-width: 767px) {
      grid-column: 1 / 2;

    }
  }


  .avenue__phone a,
  .cloisters__phone a {
    margin-bottom: 8px;
    color: inherit;
    text-decoration: none;
    transition: color 0.3s ease;

    &:hover {
      color: #b42a2a;
    }
  }


  .contact-form {
    display: flex;
    grid-column: 3;
    flex-direction: column;
    justify-self: stretch;

    width: 100%;

    @media (max-width: 1024px) {
      grid-column: 2 / 3;
      grid-row: 1;
      width: 90%;
    }

    @media (max-width: 767px) {
      grid-column: 1;
      grid-row: 3;
      width: 50%;
      margin-top: auto;
    }
    }
  }



.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  transition: transform 0.3s ease;

  textarea {
    min-height: 100px;
  }

  input,
  textarea {
    resize: none;

    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 2px;

    font-size: 12px;

    outline: none;

    transition: border 0.3s ease;

    &:focus {
      border-color: #b42a2a;
      box-shadow: 0 0 4px rgba(180, 42, 42, 0.4);
    }
    &:hover {
      transform: scale(1.1);
      transition: all 0.3s ease;
    }


  }



  &__button {
    cursor: pointer;

    align-self: stretch;

    width: 100%;
    margin-top: 8px;
    margin-top: auto;
    padding: 14px 0;
    border: none;

    font-size: 12px;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;

    background-color: #b42a2a;

    transition: all 0.3s ease;

    &:hover {
      transform: scale(1.1);
      border: 1px solid #b42a2a;
      color: #b42a2a;
      background-color: transparent;
    }
  }
}


