.more {

  .more__photo {
    display: block;
    width: 100%;
  }

  .more__title {
    font-size: 24px;
    font-weight: 700;
    color: #D12D35;
    text-align: center;
  }

  .more__text {
    text-align: center;
  }
}
