.fifth__avenue {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 40px;
  align-items: start;

  margin-bottom: 24px;

  @include on-desktop {
    column-gap: 60px;
  }

  .museum__subtitle,
  .section-title--align--left {
    grid-column: 1;
  }

  .museum__block {
    display: grid;
    grid-column: 2;
    grid-template-columns: 1fr 1fr;
    column-gap: 24px;

    margin-bottom: 32px;
  }

  .museum__title {
    grid-column: 1 / -1;
    margin-bottom: 8px;
    font-weight: bold;
    text-transform: uppercase;
  }

  .museum__content {
    display: grid;
    grid-column: 1;
    row-gap: 8px;

    margin: 0;
    padding: 0;

    font-weight: bold;
    list-style: none;
  }

  .museum__days {
    display: grid;
    grid-column: 2;
    row-gap: 8px;

    margin: 0;
    padding: 0;

    list-style: none;
    &--closed--on {
      grid-column: 1 / -1;
      margin-top: 8px;
    }
  }

  .museum__gray {
    color: #666;
  }

}

@media (max-width: 767px) {
  .fifth__avenue {
    grid-template-columns: 1fr;
    row-gap: 24px;

    .museum__subtitle,
    .section-title--align--left {
      grid-column: 1;
      text-align: left;
    }


    .museum__block {
      display: grid;
      grid-column: 1;
      grid-template-columns: 1fr 1fr;
      gap: 8px 16px;
    }

    .museum__content {
      grid-column: 1;
    }

    .museum__days {
      grid-column: 2;
    }

    .museum__days--closed--on {
      grid-column: 1 / -1;
      margin-top: 8px;
    }

    .museum__title {
      grid-column: 1 / -1;
      margin-top: 16px;
    }
  }
}
